<div id="foodCarousel" class="slide carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% food.images.each do |image| %>
      <div class="carousel-item active">
        <%= image_tag image, class: "d-block w-100 food-image"%>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev food-carousel-buttons" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next food-carousel-buttons" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>