<div class="progress-bar" style="border: 2px solid green;">
  <% if order.status == "order_placed"%>
    <div class="bar" style="height: 10px; width: 15%; background-color: green;">
    </div>
  <% elsif order.status == "delivery_agent_assigned"%>
    <div class="bar" style="height: 10px; width: 35%; background-color: green;">
    </div>
  <% else %>
    <div class="bar" style="height: 10px; width: 80%; background-color: green;">
    </div>
  <% end %>
</div>