<h1 class="center">My Orders</h1>
<div class="customer-orders">
  <% display_customer_active_orders(@active_orders) do%>
    <h3>Active Orders</h3>
    <hr />
    <div class="orders d-flex">
      <% @active_orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  <% end %>
  <% display_customer_past_orders(@past_orders) do%>
    <h3>Past Orders</h3>
    <hr />
    <div class="orders d-flex">
      <% @past_orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  <% end %>
</div>