<h1 class="center">My Orders</h1>
<div class="customer-orders">
  <% if @active_orders.any? %>
    <h3>Active Orders</h3>
    <hr />
    <div class="orders d-flex">
      <% @active_orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  <% end %>
  <% if @past_orders.any? %>
    <h3>Past Orders</h3>
    <hr />
    <div class="orders d-flex">
      <% @past_orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  <% end %>
</div>