<%= stylesheet_link_tag "customer_home", "data-turbo-track": "reload" %>

<%= render 'banner_carousel' %>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render partial: 'food', locals: {food: food} %>
  <% end %>
</div>