<!-- Cart summary -->
<div class="col-6 cart-summary" id="cart-summary">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th>Subtotal</th>
          <td>Rs <span id="subtotal"><%= cart_details[:subtotal] %></span></td>
        </tr>
        <tr>
          <th>Delivery Charge</th>
          <td>Rs <span id="delivery-charge"><%= cart_details[:delivery_charge] %></span></td>
        </tr>
        <tr>
          <th>Discount</th>
          <td>Rs <span id="cart_discount"><%= cart_details[:discount] %></span></td>
        </tr>
        <tr>
          <th>Total</th>
          <td>Rs <span id="total"><%= cart_details[:total] %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
