<%= javascript_include_tag 'food' %>
<div class="center">
  <h1>Foods</h1>
  <%= render 'food_create_modal', food: @food %>
</div>
<div id="categories">
  <div id="newly_created" class="foods">
  </div>
  <% @categories.each do |category| %>
    <% if category.foods.count > 0 %>
      <h3> <%= category.name %></h3>
      <hr />
      <div class="foods d-flex">
        <% category.foods.each do |food| %>
          <%= render 'food', food: food %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
