/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(242, 242, 242);
}
#navbar_logo {
  height: 50px;
  width: 50px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow_box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  width: fit-content;
}

.center_text {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.field {
  margin: 15px;
}

.field * {
  padding: 5px;
}

.quantity-selector {
  display: inline-flex;
  align-items: center;
}

.quantity-selector .form-control {
  text-align: center;
  width: 50px; /* Adjust the width as needed */
  margin: 0 5px; /* Add some margin between the buttons and the input field */
}

.decrease-btn,
.increase-btn {
  border-radius: 5px 0 0 5px; /* Rounded corners on the left side for decrease button and right side for increase button */
}

.increase-btn {
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side for increase button */
}

.foods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.food-container {
  display: flex;
}

.food-images img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.food-images {
  height: 250px;
  width: 250px;
  display: flex; /* Display images in a row */
  overflow-x: auto;
  gap: 10px;
}
