body {
  background-color: rgb(242, 242, 242);
}
.food_item {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.food_item img {
  padding: 2px;
  border-radius: 5px;
}

.carousel_container {
  width: 100%;
}

.carousel_container img {
  height: 500px;
}
